
langchain>=0.3.18
langchain-core>=0.3.18
langchain-openai>=0.2.8
langchain-community>=0.3.0
streamlit
sqlalchemy>=2.0
pymysql
bcrypt
redis
python-dotenv
langchain-classic>=1.0.0
langchain-tavily 
langgraph

httpx>=0.27.0
uvicorn>=0.30.0
starlette>=0.40.0
tiktoken>=0.7.0

langchain-chroma 
langchain-huggingface 
chromadb 
sentence-transformers 
pypdf